<!-- Modal -->
<div id="test-suite-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="testSuiteModalTitle">Create Test Suite</h4>
      </div>
      <div class="modal-body">
          <form class="cd-form" id="test-suite-form">
              <input type="hidden" name="testSuiteId" id="testSuiteId" value=""/>
              <p class="fieldset">
                  <label class="image-replace cd-email" for="test-suite-name">Name</label>
                  <input class="full-width has-padding has-border" id="test-suite-name" type="text" name="name" placeholder="Test Suite Name" required>
              </p>

              <p class="fieldset">
                  <label class="image-replace cd-email" for="test-suite-description">Description</label>
                  <input class="full-width has-padding has-border" id="test-suite-description" type="text" name="description" placeholder="Test Suite Description" required>
              </p>

              <p class="fieldset">
                  <input class="full-width has-padding" type="submit" id="save-test-suite-button" value="Create">
              </p>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="close-test-suite-modal">Close</button>
      </div>
    </div>

  </div>
</div>
